* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav{
  height: 65px;
  background-color: rgb(126, 137, 200);
  color:floralwhite;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 


}
nav a{
  color: rgb(238, 238, 248);
  text-decoration: none;
  align-items: center;
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  
}



.homeContent h1 {
  width: 1000px;
  margin: 0 auto;
  color:rgb(197, 197, 247);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: 230px;
  
}
.homeContent p {
  width: 990px;
  margin: 0 auto;
  font-size: 15px;
  color:rgb(255, 255, 255);
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.homeContent {
  width: 100%;
  height: 650px;
  margin: 0 auto;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/hero\ 2.jpg);
background-size: cover;
 background-position: center;
background-repeat: no-repeat;
position: absolute;
}

.homeContent button{

  font-size: 15px;
  width: 90px;
  height: 30px;
  color: rgb(141, 84, 233);
  background-color: rgb(197, 197, 247);
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin: 0 auto;
  margin-left: 265px;

}

.aboutContent  h1  {
  width: 600px;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 auto;
  color:rgb(70, 70, 117);

  display: flex;
  justify-content: center;
  padding-left: 900px;
  margin-top: 210px; 
  
}
.aboutContent {
  width: 100%;
  margin: 0 auto;
  display: flex;
 
  padding-right: 90px;
  
  

  
}
.aboutContent img{

  width: 50%;
  height: 650px;
  position: absolute;
}

.aboutContent  p{

  width: 600px;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 15px;
  margin-top: 290px;
  

}



.content-gallery h1 {
  width: 190px;
  margin: 0 auto;
  color:rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  margin-top: 150px;
  
}

.content-gallery .hero{
width: 100%;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/banne2r.jpg);
background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
 
  justify-content: space-evenly;
  color: #fff;
  margin: 0 auto;
  
position: absolute;
}


.content-gallery  {

  width: 100%;
  margin: 0 auto;
  color:rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;

 
  
  
}

.content-gallery .photo {

  
  float: left;
  width: 400px;
  margin-left: 540px;

}



.content-gallery  img {
  width: 400px;
  height: 200px;
  display: flex;
  margin-top: 90px;
  
  margin-right: 30px;

  

}
















 .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          
            width: 980px;
            margin: 0 auto;
            margin-top: 50px;
            margin-left: 200px;
          
}

.contactForm h1{
  width: 190px;
  margin: 0 auto;
  color:rgb(70, 70, 117);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  margin-top: 10px;
  

 

}
 .contactForm .map {
  width: 400px;
  margin-top: 80px;
  margin-bottom: 50px;
  

}
 .contactForm .map img {
  width: 400px;
  height: 560px;
  margin-bottom: 34px;
  padding: 20px;

}

 .contactForm .form .textInput {
  width: 529px;
  margin-bottom: 20px;

}
 .contactForm .form .textInput input {
  width: 529px;
  height: 60px;
  color: rgb(197, 197, 247);
  background-color: #f5f5f5;
  font-family: "Gill Sans", sans-serif;
  font-size: 16px;
  
  border: none;
  padding: 20px;
}
 .contactForm .form .messageInput {
  width: 529px;
  margin-bottom: 20px;
}
 .contactForm .form .messageInput input {
  width: 529px;
  height: 200px;
  color: rgb(197, 197, 247);
  background-color: #f5f5f5;
  font-family: "Gill Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  border: none;
  padding: 20px;
}
 .contactForm .form .subBtn {
  width: 168px;
  height: 60px;
  background-color: rgb(197, 197, 247);
  text-align: center;
  font-size: 16px;
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.contactForm .form{
  margin-top: 100px;

}
